/*borders is the tables where I want lines to be displayed on the borders.*/
.borders {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.borders th {
    border: 1px solid black;
    width: 25%;
}

.borders td {
    border: 1px solid black;
    width: 25%;
}

/*Example is the examples tables. This organizes the images to display evenly*/
.example {
    table-layout: fixed;
    width: 100%;
}

.example td {
    width: 33.33%;
}

img {
    display: block;
    width: 100%;
}

/*Set all title text to the center of the page*/
.title {
    text-align: center;
}